# Godot-specific
.import/
.export/
export_presets.cfg
*.import

# Temporary files
*.tmp
*.log
*.cfg
*.cache
*.mono
*.mono/*
.mono/
data_*/
mono_crash.*

# OS files
.DS_Store
Thumbs.db

# VSCode / Rider
.vscode/
.idea/
